DATABASE_URL=
APP_SETTINGS=config.DevelopmentConfig
SECRET_KEY=
USER_REGISTRY_BASE_URL=
DATABASE_URL_FOR_REGION=
MAP_HTML_BASE_URL=
TERRAPIPE_BE_DB_URL=
TERRAPIPE_LOGIN_URL=
TERRAPIPE_SIGNUP_URL=
FIELD_MAP_HTML_BASE_URL=
TWILIO_SID =
TWILIO_AUTH_TOKEN =
TWILIO_PHONE =