attrs==21.2.0
Babel==2.9.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
blinker==1.4
branca==0.4.2
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
cftime==1.5.1.1
charset-normalizer==2.0.7
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cmasher==1.6.3
colorspacious==1.1.2
cryptography==35.0.0
cycler==0.11.0
DateTime==4.3
dnspython==2.1.0
e13tools==0.9.6
elastic-apm==6.6.0
elastic-app-search==7.10.0
elasticsearch==7.15.1
email-validator==1.1.3
Fiona==1.8.20
Flask==2.0.2
Flask-BabelEx==0.9.4
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
Flask-User==1.0.2.2
Flask-WTF==0.15.1
folium==0.12.1.post1
fonttools==4.28.2
future==0.18.2
GeoAlchemy2==0.9.4
geojson==2.5.0
geopandas==0.10.2
greenlet==1.1.2
h3==3.7.3
h3pandas==0.2.2
idna==3.3
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.2
kiwisolver==1.3.2
leaflet==0.0.3
MarkupSafe==2.0.1
matplotlib==3.5.0
munch==2.5.0
netCDF4==1.5.8
numpy==1.21.3
packaging==21.2
pandas==1.3.4
passlib==1.7.4
Pillow==8.4.0
plotly==5.4.0
psycopg2==2.9.1
pycparser==2.20
pygeos==0.12.0
PyJWT==1.7.1
pyparsing==2.4.7
pyproj==3.2.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
s2cell==1.5.0
s2sphere==0.2.5
scipy==1.7.2
setuptools-scm==6.3.2
Shapely==1.8.0
six==1.16.0
soupsieve==2.3.1
speaklater==1.3
SQLAlchemy==1.4.26
tenacity==8.0.1
tomli==1.2.2
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
WTForms==2.3.3
zipp==3.6.0
zope.interface==5.4.0
