<!doctype html>
<html lang="en">
	<head>
		<title>Flask Leaflet Website</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin=""></script>
	</head>
	<body>
		<div id="map"></div>
		<!--<script src="{{ url_for('static', filename='js/universal.js') }}" /></script>-->
		<script>
			//var map = L.map('map').setView([36.010518629637154, -119.35317997316514], 15);
			var map = L.map('map').setView({{centeroid}}, 17);

			// {s}, {z}, {x} and {y} are placeholders for map tiles
			// {x} and {y} are the x/y of where you are on the map
			// {z} is the zoom level
			// {s} is the subdomain of cartodb
			var layer = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}.png', {
			attribution: 'Rendered by AgStack using open-source ESRI & GeoEye Basemaps'
			});

			// Now add the layer onto the map
			map.addLayer(layer);
		</script>script>

		<script>

		var user_exteriorStyle = {
		    "color": "#FFFF00",
		    "weight": 1,
		    "fillOpacity": .05
		};

		var s2_exteriorStyle = {
		    "color": "#FF0000",
		    "weight": 1,
		    "fillOpacity": .05
		};

		function user_polystyle(feature) {
		    return {
		        fillColor: 'FFFF00',
		        weight: 1,
		        opacity: 1,
		        color: '#FFFF00',  //Outline color
		        fillOpacity: 0.1
		    };
		}

		function s2_polystyle(feature) {
		    return {
		        fillColor: 'FF0000',
		        weight: 1,
		        opacity: 1,
		        color: '#FF0000',  //Outline color
		        fillOpacity: 0.1
		    };
		}

		L.polygon({{fields[0]}}, {color: 'yellow', fillcolor: 'transparent', weight: 2, }).addTo(map);
		L.polygon({{fields[1]}}, {color: 'red', fillcolor: 'transparent', weight: 2, dashArray: '5, 5', dashOffset: '5'}).addTo(map);

		/*
		{% for field in fields %}
			L.polygon({{field}}, {style: exteriorStyle}).addTo(map);
		{% endfor %}

		{% for field in fields %}
			L.geoJson({{field}}, {
				style: function(feature) {
					switch (feature.properties.fieldType) {
						case 'user': return {color: '#ff0000'};
						case 's2':   return {color: '#0000ff'};
					}
				}
			}).addTo(map);
		{% endfor %}*/

		</script>
	</body>
</html>